@{
    Layout = "../Shared/_AppLayout.cshtml";
}
<div class="row information">
    <div class="col-xs-12">
        <ul>
            <li class="selected">The App</li>
            <li>About Us</li>
            <li>T & C</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_partials/_theApp")
        @Html.Partial("_partials/_aboutUs")
        @Html.Partial("_partials/_termsAndConditions")
    </div>
</div>
