<div class="row about_us">
    <div class="col-xs-12">
        <div class="content">
            <h2>About Us</h2>
            <p>
                Mind in Salford is an independent, user focused charity providing quality services to make a positive difference to the wellbeing and mental health of the people of Salford.
            </p>
            <p>
                The core services we provide are:
            </p>
            <h3>Advocacy</h3>
            <p>
                Helping you express your views and concerns, access information and services, explore choices and options, and defending and promoting your rights.
            </p>
            <h3>Welfare Rights and Debt Advice</h3>
            <p>
                Free, independent and impartial advice helping you with all aspects of benefits and debts.
            </p>
            <h3>Mindfulness</h3>
            <p>
                Courses on types of meditation involving focussing your mind on the present, which have been shown to have positive effects on those suffering with mental health difficulties.
            </p>
            <h3>Training</h3>
            <p>
                A mental wellbeing garden centre offering drop-ins and volunteering opportunities for people with experience of mental or emotional distress.
            </p>
            <h3>Garden Needs</h3>
            <p>
                A mental wellbeing garden centre offering drop-ins and volunteering opportunities for people with experience of mental or emotional distress.
            </p>
        </div>
    </div>
</div>
