<div class="row terms_conditions">
    <div class="col-xs-12">
        <h2>Terms And Conditions</h2>
        <div id="lipsum">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent orci arcu, pharetra at finibus nec, venenatis at orci. Aenean at porttitor ante, non ullamcorper lectus. Proin tempor, magna eu suscipit elementum, lorem risus porta mi, ac tristique neque magna non velit. Pellentesque pellentesque ex quam, ut sollicitudin nulla rutrum at. Aliquam erat volutpat. Aenean sit amet nunc convallis, facilisis nulla quis, consequat turpis. Donec molestie, urna in aliquet feugiat, nibh sem consectetur enim, vitae dapibus dolor odio at ligula. Nulla facilisi. Nulla id volutpat urna. Proin sagittis hendrerit diam non laoreet. Suspendisse porttitor neque at mi ullamcorper, a vulputate elit varius. Mauris tortor leo, cursus nec sodales nec, posuere a sem.
            </p>
            <p>
                Aliquam erat volutpat. Donec sodales pretium blandit. Etiam eget tempus mi. Praesent metus libero, sodales ut sem sed, porta bibendum risus. Fusce facilisis et metus id pellentesque. Nulla mollis nisl non felis euismod tempor. Cras ex erat, dictum ut lacus a, maximus posuere risus. Integer magna lacus, maximus vel laoreet a, ultricies a erat. Praesent tincidunt sapien eu leo vestibulum, et tincidunt orci mattis. Donec massa purus, rutrum sit amet sapien id, rutrum vestibulum ligula. Ut mattis mauris ac nisi tempus, in blandit arcu aliquet. In ornare sapien elit, vitae mattis magna sollicitudin a. In condimentum massa vitae eros sodales, at convallis libero tincidunt. Phasellus non elit dictum, imperdiet erat id, rhoncus odio. Fusce sit amet mollis purus. Duis cursus et nulla ac mollis.
            </p>
            <p>
                Nam sit amet ullamcorper sem, non lacinia tellus. Vivamus rhoncus cursus lectus at luctus. Vivamus vel finibus ante, posuere sollicitudin turpis. Ut convallis consectetur arcu in aliquet. Donec scelerisque ornare enim, sit amet finibus lorem iaculis ac. Sed quis tortor scelerisque, consectetur tellus sit amet, sollicitudin massa. Praesent velit elit, egestas fringilla malesuada ut, faucibus sit amet felis. Proin vitae massa ut lorem convallis venenatis a a enim. Nullam lobortis nisi in ante facilisis, non ullamcorper diam feugiat. Fusce vitae turpis lacinia, posuere eros id, venenatis odio. Integer ultricies augue et orci tempor mollis. Sed quis felis ut lorem blandit mollis. Sed placerat mauris non condimentum blandit. Integer consequat mattis venenatis.
            </p>
            <p>
                Cras finibus felis lectus, in tincidunt justo pulvinar ut. Nulla facilisi. Donec facilisis ornare nisi, et luctus metus euismod vitae. Maecenas imperdiet, arcu id suscipit fermentum, nibh nisi sagittis est, id rutrum eros ex et augue. Suspendisse fermentum tellus risus, nec aliquam tellus elementum ac. Donec dictum ac mauris at gravida. Donec aliquam neque eget rutrum molestie. Sed sit amet interdum erat. Pellentesque velit mi, dictum eget maximus quis, maximus non eros. Donec posuere lacinia quam id interdum. Quisque lectus massa, pretium eu neque sit amet, vestibulum commodo purus. Fusce dignissim iaculis arcu a gravida. Donec quis interdum mauris.
            </p>
            <p>
                Etiam ornare vel ligula ut dignissim. Etiam tincidunt felis id justo laoreet convallis. Aenean tempor, nibh eget fringilla elementum, risus mi tristique dui, nec aliquam nunc dui nec nunc. Nam mi ex, gravida sit amet dapibus in, hendrerit in risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis sem at tortor mollis, at volutpat tellus sagittis. Maecenas metus lectus, volutpat sed dignissim non, placerat in leo. Curabitur et ante nec tortor condimentum vestibulum. In accumsan pellentesque orci, nec aliquam purus finibus ac. Duis et magna nec lorem blandit vulputate vulputate et leo. Curabitur dapibus purus id orci dignissim, eu condimentum libero auctor. Vestibulum sit amet urna nisi. Phasellus et sapien magna. Suspendisse mattis quis metus id elementum.
            </p>
        </div>
    </div>
</div>
