<div class="row">
    <div class="col-xs-12">
        <h2>The App</h2>
        <p>
            To be Mindful is to be aware of your thoughts and actions in the present moment, without judging yourself.
        </p>
        <p>
            Mind in Salford has been running a Mindfulness Based Stress Reduction programme since 2011, with very positive results.
        </p>
    </div>
</div>