<div class="row the_app">
    <div class="col-xs-12">
        <h2>The App</h2>
        <p>
            To be Mindful is to be aware of your thoughts and actions in the present moment, without judging yourself.
        </p>
        <p>
            Mind in Salford has been running a Mindfulness Based Stress Reduction programme since 2011, with very positive results.
        </p>
        <p>
            Nam sit amet ullamcorper sem, non lacinia tellus. Vivamus rhoncus cursus lectus at luctus. Vivamus vel finibus ante, posuere sollicitudin turpis. Ut convallis consectetur arcu in aliquet. Donec scelerisque ornare enim, sit amet finibus lorem iaculis ac. Sed quis tortor scelerisque, consectetur tellus sit amet, sollicitudin massa. Praesent velit elit, egestas fringilla malesuada ut, faucibus sit amet felis. Proin vitae massa ut lorem convallis venenatis a a enim. Nullam lobortis nisi in ante facilisis, non ullamcorper diam feugiat. Fusce vitae turpis lacinia, posuere eros id, venenatis odio. Integer ultricies augue et orci tempor mollis. Sed quis felis ut lorem blandit mollis. Sed placerat mauris non condimentum blandit. Integer consequat mattis venenatis.
        </p>
        <p>
            Nam sit amet ullamcorper sem, non lacinia tellus. Vivamus rhoncus cursus lectus at luctus. Vivamus vel finibus ante, posuere sollicitudin turpis. Ut convallis consectetur arcu in aliquet. Donec scelerisque ornare enim, sit amet finibus lorem iaculis ac. Sed quis tortor scelerisque, consectetur tellus sit amet, sollicitudin massa. Praesent velit elit, egestas fringilla malesuada ut, faucibus sit amet felis. Proin vitae massa ut lorem convallis venenatis a a enim. Nullam lobortis nisi in ante facilisis, non ullamcorper diam feugiat. Fusce vitae turpis lacinia, posuere eros id, venenatis odio. Integer ultricies augue et orci tempor mollis. Sed quis felis ut lorem blandit mollis. Sed placerat mauris non condimentum blandit. Integer consequat mattis venenatis.
        </p>
    </div>
    <div class="col-xs-12">
        <h2>Acknowledgments</h2>
        <h3>Developed By:</h3>
        <ul>
            <li>Siôn Trevor</li>
            <li>Jonny Pillar</li>
        </ul>
        <h3>Third Party Software:</h3>
        <ul>
            <li>
                SDWebImage
            </li>
            <li>
                AFNetworking
            </li>
            <li>
                StreamingKit
            </li>
            <li>
                HockeySDK
            </li>
        </ul>
    </div>
</div>