<?xml version='1.0' encoding='utf-8'?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings>
    <MindServer.Tests.Properties.Settings>
      <setting name="BaseUrl" serializeAs="String"  xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">http://mind-1.apphb.com/</value>
      </setting>
    </MindServer.Tests.Properties.Settings>
  </applicationSettings>
</configuration>