<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Replace" />
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Logon/LogOn" timeout="2880" requireSSL="true" xdt:Transform="Replace"/>
    </authentication>-->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=16070400; includeSubDomains" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <applicationSettings>
    <MindServer.Tests.Properties.Settings>
      <setting name="BaseUrl" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">http://mind-1.apphb.com/</value>
      </setting>
    </MindServer.Tests.Properties.Settings>
  </applicationSettings>
</configuration>
